{% with site_title as page_header %}
{% include "inc/page_header.tmpl" %}
{% endwith %}

{% if events.size %}
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="text-capitalize">{{ events_table_headers.title }}</th>
            <th scope="col" class="text-capitalize">{{ events_table_headers.schedule }}</th>
            <th scope="col" class="text-capitalize">{{ events_table_headers.guests }}</th>
            <th scope="col" class="text-capitalize">{{ events_table_headers.id }}</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td><a href="/controlcenter/events/{{ event.id }}/guests">{{ event.title }}</a></td>
            <td>{{ event.start }}{% if not event.startTimeOnly %}<br>{{ event.end }}{% endif %}</td>
            <td>{{ event.totalInvited }}/{{ event.totalAccepted }}</td>
            <td>{{ event.id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
{% endif %}
