<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/style.css" rel="stylesheet">
    <title>{{ site_title }} – {{ site_name }}</title>
  </head>
  <body>
    <header class="container-fluid"></header>
    <div class="container-fluid">
      <div class="row">
        <nav id="controlcenter_main_sidemenu" class="d-none d-md-flex flex-column col-md-3 col-lg-2 bg-dark text-white vh-100 p-3">
          <a class="text-white text-decoration-none">
            <span class="fs-4">{{ site_name }}</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            {% for menuitem in controlcenter_main_menu %}
            <li class="nav-item">
              <a class="nav-link{% if menuitem.isActive or menuitem.isExpanded %} active{% else %} text-white{% endif %}" href="{{ menuitem.url }}"{% if menuitem.isActive %} aria-current="page"{% endif %}>{{ menuitem.icon|safe }} {{ menuitem.title }}</a>
            </li>
            {% endfor %}
          </ul>
          <hr>
          <div class="dropdown">
            <a id="dropdownUserSidebar" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle me-2 fs-2"></i> <strong>{{ user.username }}</strong></a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUserSidebar">
              {% for menuitem in controlcenter_user_menu %}
              <li><a class="dropdown-item{% if menuitem.isActive %} active{% endif %}" href="{{ menuitem.url }}">{{ menuitem.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </nav>
        <main class="col-12 col-sm-12 col-md-9 col-lg-10">
          {% include template %}
        </main>
      </div>
    <footer class="container-fluid"></footer>
    <script src="/js/scripts.js"></script>
  </body>
</html>
