{% extends "inc/modal.tmpl" %}
{% block label %}{% i18n "Edit guest" %} <span id="editGuestName"></span>{% endblock %}

{% block content %}
<form id="editGuestForm" action="/controlcenter/events/{{ eventId }}/guests/edit/">
    {% c_csrf_token %}
    <input type="hidden" id="editGuestId">

    <div class="d-flex">
        <label for="editGuestStatus" class="form-label me-auto align-self-center">{{ _("Status") }}</label>
        <div id="editGuestStatus" class="btn btn-group pe-0" role="group" aria-label="{{ _("Status") }}">
            {% for opt in gueststatus_options %}
                {% if opt.value != "-1" %}
                <input id="editGuestStatus_{{ opt.value }}" type="radio" class="btn-check" name="status" value="{{ opt.value }}" autocomplete="off">
                <label for="editGuestStatus_{{ opt.value }}" class="btn {% if opt.value == "1" %}btn-outline-success{% elif opt.value == "2" %}btn-outline-warning{% else %}btn-outline-secondary{% endif %}">{{ opt.name }}</label>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div>
        <label for="editGuestType" class="form-label">{{ _("Type") }}</label>
        <select id="editGuestType" name="type" class="form-select" aria-describedby="editGuestTypeHelp editGuestTypeFeedback">
        {% for opt in guesttype_options %}
            <option value="{{ opt.value }}">{{ opt.name }}</option>
        {% endfor %}
        </select>
        <div id="editGuestTypeFeedback" class="invalid-feedback"></div>
        <div id="editGuestTypeHelp" class="form-text"></div>
    </div>

    <div>
        <label for="editGuestSalutation" class="form-label">{{ _("Salutation") }}</label>
        <select id="editGuestSalutation" name="salutation" class="form-select" aria-describedby="editGuestSalutationHelp editGuestSalutationFeedback">
        {% for opt in salutation_options %}
            <option value="{{ opt.value }}">{{ opt.name }}</option>
        {% endfor %}
        </select>
        <div id="editGuestSalutationFeedback" class="invalid-feedback"></div>
        <div id="editGuestSalutationHelp" class="form-text"></div>
    </div>

    {% with "editGuestPartnerGivenName" as inputId %}
    {% with "partnerGivenName" as inputName %}
    {% with _("Partner given name") as inputLabel %}
    {% include "inc/textInputWithLabel.tmpl" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    {% with "editGuestPartnerFamilyName" as inputId %}
    {% with "partnerFamilyName" as inputName %}
    {% with _("Partner family name") as inputLabel %}
    {% include "inc/textInputWithLabel.tmpl" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    {% with "editGuestExpectedAdults" as inputId %}
    {% with "expectedAdults" as inputName %}
    {% with _("Expected adults:") as inputLabel %}
    {% include "inc/rangeInputWithLabel.tmpl" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    {% with "editGuestAgreedAdults" as inputId %}
    {% with "agreedAdults" as inputName %}
    {% with _("Agreed adults:") as inputLabel %}
    {% include "inc/rangeInputWithLabel.tmpl" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    {% with "editGuestExpectedChildren" as inputId %}
    {% with "expectedChildren" as inputName %}
    {% with _("Expected children:") as inputLabel %}
    {% include "inc/rangeInputWithLabel.tmpl" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    {% with "editGuestAgreedChildren" as inputId %}
    {% with "agreedChildren" as inputName %}
    {% with _("Agreed children:") as inputLabel %}
    {% include "inc/rangeInputWithLabel.tmpl" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
</form>
{% endblock %}

{% block footer %}
<button type="button" class="btn btn-secondary text-capitalize" data-bs-dismiss="modal">{{ _("cancel") }}</button>
<button id="{{ modalId }}SubmitButton" type="submit" form="editGuestForm" class="btn btn-primary text-capitalize"><span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span><i class="bi bi-pencil-square"></i> {{ _("update guest") }}</button>
{% endblock %}
