<div class="d-flex">
    <h1>{{ site_subtitle }} <small class="text-muted">{{ site_title }}</small></h1>
    <div class="text-muted align-self-center"><span class="badge bg-secondary"><span id="event_{{ event.id }}_total_accepted">{{ event.totalAccepted }}</span>/<span id="event_{{ event.id }}_total_invited">{{ event.totalInvited }}</span></span></div>
    <div class="ms-auto">
        <button type="button" class="btn btn-outline-secondary text-capitalize" data-bs-toggle="modal" data-bs-target="#addGroupModal" aria-label="{{ _("add group") }}"><i class="bi bi-plus-circle-dotted"></i><span class="d-none d-md-inline"> {{ _("add group") }}</span></button>
    </div>
</div>

<div id="guestgroups">
{% for group in groups %}
<section id="group_{{ group.id }}" class="guestgroup">
    <div class="d-flex">
        <h2>{{ group.name }} <span class="badge bg-secondary"><span class="total_accepted">{{ group.totalAccepted }}</span>/<span class="total_invited">{{ group.totalInvited }}</span></span></h2>
        <div class="ms-auto">
            <button type="button" class="btn btn-outline-secondary text-capitalize add-guest-to-group-btn" data-bs-toggle="modal" data-bs-target="#addGuestModal" value="{{ group.id }}"><i class="bi bi-person-plus"></i><span class="d-none d-md-inline"> {{ _("add guest") }}</span></button>
        </div>
    </div>
    {% with group.guests as guests %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="text-capitalize">{{ guests_table_headers.name }}</th>
                <th scope="col" class="text-capitalize">{{ guests_table_headers.guests }}</th>
                <th scope="col" class="text-capitalize d-none d-sm-table-cell">{{ guests_table_headers.address }}</th>
                <th scope="col" class="text-capitalize">{{ guests_table_headers.notified}}</th>
            </tr>
        </thead>
        <tbody>
            {% for guest in guests %}
            <tr id="guest-{{ guest.id }}">
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-outline-primary edit-guest-btn" title="{{ _("Edit guest") }}" value="{{ guest.id }}"><span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span><i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">{{ _("Toggle dropdown") }}</span></button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/i/{{ guest.uid }}" target="_blank" class="invite-guest-btn"><i class="bi bi-box-arrow-up-right"></i> {{ _("Show invitation page") }}</a></li>
                            <li><a class="dropdown-item text-danger" href="#" class="delete-guest-btn" data-value="{{ guets.id }}"><i class="bi bi-person-dash"></i> {{ _("Delete guest") }}</a>
                        </ul>
                    </div>
                </td>

                {% with guest.contact.addressee as addressee %}
                <td>
                {% if guest.contact.addressee.familyName == guest.partnerFamilyName %}
                {% i18nc "A couple’s name like Alice and Bob Miller" "%1 and %2 %3" addressee.givenName guest.partnerGivenName addressee.familyName %}
                {% else %}
                {{ addressee.givenName }} {{ addressee.familyName }}{% if guest.partnerGivenName %}<br>{{ guest.partnerGivenName }} {{ guest.partnerFamilyName }}{% endif %}
                {% endif %}
                </td>

                <td>
                <span class="text-capitalize">{{ guests_table_headers.adults }}</span>:&nbsp;{{ guest.adultsAccepted }}/{{ guest.adults }}<br>
                <span class="text-capitalize">{{ guests_table_headers.children }}</span>:&nbsp;{{ guest.childrenAccepted }}/{{ guest.children }}
                </td>

                <td class="d-none d-sm-table-cell">
                {% if addressee.addresses.size %}
                    {% with addressee.addresses.0 as address %}
                    {% if address.street %}{{ address.street }}<br>{% endif %}
                    {% if address.postalCode %}{{ address.postalCode }} {% endif %}{% if address.locality %}{{ address.locality }}{% endif %}{% if address.postalCode or address.locality %}<br>{% endif %}
                    {{ address.region }}{% if address.region and address.country %}, {% endif %}{{ address.country }}
                    {% endwith %}
                {% endif %}
                </td>

                <td>
                    <div class="btn-group btn-group-sm">
                        <a href="/controlcenter/events/{{ event.id }}/guests/invite/{{ guest.id }}/{{ guest.Email.value }}" class="btn{% if guest.notifiedByEmail %} btn-outline-success{% else %} btn-outline-secondary{% endif %}" title="{{ _("Email") }}"><i class="bi bi-envelope-fill"></i></a>
                        <a href="/controlcenter/events/{{ event.id }}/guests/invite/{{ guest.id }}/{{ guest.SMS.value }}" class="btn{% if guest.notifiedBySMS %} btn-outline-success{% else %} btn-outline-secondary{% endif %}" title="{{ _("SMS") }}"><i class="bi bi-chat-left-text-fill"></i></a>
                        <a href="/controlcenter/events/{{ event.id }}/guests/invite/{{ guest.id }}/{{ guest.Messenger.value }}" class="btn{% if guest.notifiedByMessenger %} btn-outline-success{% else %} btn-outline-secondary{% endif %}" title="{{ _("Messenger") }}"><i class="bi bi-messenger"></i></a>
                        <a href="/controlcenter/events/{{ event.id }}/guests/invite/{{ guest.id }}/{{ guest.Postal.value }}" class="btn{% if guest.notifiedByPostal %} btn-outline-success{% else %} btn-outline-secondary{% endif %}" title="{{ _("Postal") }}"><i class="bi bi-mailbox2"></i></a>
                        <a href="/controlcenter/events/{{ event.id }}/guests/invite/{{ guest.id }}/{{ guest.Phone.value }}" class="btn{% if guest.notifiedByPhone %} btn-outline-success{% else %} btn-outline-secondary{% endif %}" title="{{ _("Phone") }}"><i class="bi bi-telephone-fill"></i></a>
                    </div>
                </td>

                {% endwith %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endwith %}
{% empty %}
{% endfor %}
</div>

<!-- start add group modal -->
<div class="modal fade" id="addGroupModal" tabindex="-1" aria-labelledby="addGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addGroupModalLabel">{% i18n "Add new group" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>

            <div class="modal-body">
                <form id="addGroupForm" action="/controlcenter/events/{{ event.id }}/guestgroups/add">
                    {% c_csrf_token %}
                    <div>
                        <label for="newGroupName" class="form-label">{{ _("Name") }}</label>
                        <input type="text" class="form-control" id="newGroupName" name="name" aria-describedby="newGroupNameHelp" required="required">
                        <div id="newGroupNameHelp" class="form-text"></div>
                    </div>

                    <div>
                        <label for="newGroupSlug" class="form-label">{{ _("Slug") }}</label>
                        <input type="text" class="form-control" id="newGroupSlug" name="slug" aria-describedby="newGroupSlugHelp" pattern="[a-zA-Z0-9_\-]*">
                        <div id="newGroupSlugHelp" class="form-text"></div>
                    </div>

                    <div>
                        <label for="newGroupSalutation" class="form-label">{{ _("Salutation") }}</label>
                        <select id="newGroupSalutation" name="salutation" class="form-select" aria-describedby="newGroupSalutationHelp">
                        {% for opt in salutation_options %}
                            {% if opt.value != "0" %}
                            <option value="{{ opt.value }}"{% if opt.selected %} selected="selected"{% endif %}>{{ opt.name }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                        <div id="newGroupSalutationHelp" class="form-text"></div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-capitalize" data-bs-dismiss="modal">{{ _("cancel") }}</button>
                <button id="createGroupButton" type="button" class="btn btn-primary text-capitalize">{{ _("create group") }}</button>
            </div>
        </div>
    </div>
</div>
<!-- end add group modal -->

<!-- start add guest modal -->
<div class="modal fade" id="addGuestModal" tabindex="-1" aria-labelledby="addGuestModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addGuestModalLabel">{% i18n "Add guest" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>

            <div class="modal-body">
                <form id="addGuestForm" action="/controlcenter/events/{{ event.id }}/guests/add">
                    {% c_csrf_token %}
                    <input id="addGuestGuestGroupId" type="hidden" name="group">

                    <div>
                        <label for="addGuestFromAddressbook" class="form-label">{{ _("Addressbook") }}</label>
                        <select id="addGuestFromAddressbook" name="addressbook" class="form-select" aria-describedby="addGuestFromAddressbookHelp"></select>
                        <div id="addGuestFromAddressbookHelp" class="form-text"></div>
                    </div>

                    <div>
                        <label for="selectGuest" class="form-label">{{ _("Guest") }}</label>
                        <select id="selectGuest" name="contact" class="form-select" aria-describedby="selectGuestHelp"></select>
                        <div id="selectGuestHelp" class="form-text"></div>
                    </div>

                    <div>
                        <label for="newGuestType" class="form-label">{{ _("Type") }}</label>
                        <select id="newGuestType" name="type" class="form-select" aria-describedby="newGuestTypeHelp">
                        {% for opt in guesttype_options %}
                            <option value="{{ opt.value }}">{{ opt.name }}</option>
                        {% endfor %}
                        </select>
                        <div id="newGuestTypeHelp" class="form-text"></div>
                    </div>

                    <div>
                        <label for="newGuestSalutation" class="form-label">{{ _("Salutation") }}</label>
                        <select id="newGuestSalutation" name="salutation" class="form-select" aria-describedby="newGuestSalutationHelp">
                        {% for opt in salutation_options %}
                            <option value="{{ opt.value }}"{% if opt.value == "0" %} selected="selected"{% endif %}>{{ opt.name }}</option>
                        {% endfor %}
                        </select>
                        <div id="newGuestSalutationHelp" class="form-text"></div>
                    </div>

                    <div>
                        <label for="guestPartnerGivenName" class="form-label">{{ _("Partner given name") }}</label>
                        <input type="text" class="form-control" id="guestPartnerGivenName" name="partnerGivenName" aria-describedby="guestPartnerGivenNameHelp">
                        <div id="guestPartnerGivenNameHelp" class="form-text"></div>
                    </div>

                    <div>
                        <label for="guestPartnerFamilyName" class="form-label">{{ _("Partner family name") }}</label>
                        <input type="text" class="form-control" id="guestPartnerFamilyName" name="partnerFamilyName" aria-describedby="guestPartnerFamilyNameHelp">
                        <div id="guestPartnerFamilyNameHelp" class="form-text"></div>
                    </div>

                    <div>
                        <label for="expectedAdultsRange" class="form-label">{{ _("Expected adults:") }} <span id="expectedAdultsValue">1</span></label>
                        <input type="range" class="form-range" id="expectedAdultsRange" min="0" max="10" value="1" name="expectedAdults" aria-describedby="expectedAdultsRangeHelp">
                        <div id="expectedAdultsRangeHelp"></div>
                    </div>

                    <div>
                        <label for="expectedChildrenRange" class="form-label">{{ _("Expected children:") }} <span id="expectedChildrenValue">0</span></label>
                        <input type="range" class="form-range" id="expectedChildrenRange" min="0" max="10" value="0" name="expectedChildren" aria-describedby="expectedChrildrenRangeHelp">
                        <div id="expectedChildrenRangeHelp"></div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-capitalize" data-bs-dismiss="modal">{{ _("cancel") }}</button>
                <button id="addGuestButton" type="button" class="btn btn-primary text-capitalize">{{ _("add guest") }}</button>
            </div>
        </div>
    </div>
</div>
<!-- end add guest modal -->

<!-- start edit guest modal -->
{% with "editGuest" as modalId %}
{% with event.id as eventId %}
{% include "inc/editGuestModal.tmpl" %}
{% endwith %}
{% endwith %}
<!-- end edit guest modal -->

<!-- start group template -->
<template id="group-template">
    <section>
        <div class="d-flex">
            <h2></h2>
            <div class="ms-auto">
                <button type="button" class="btn btn-outline-secondary text-capitalize add-guest-to-group-btn" data-bs-toggle="modal" data-bs-target="#addGuestModal"><i class="bi bi-person-plus"></i><span class="d-none d-md-inline"> {{ _("add guest") }}</span></button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="text-capitalize">{{ guests_table_headers.name }}</th>
                    <th scope="col" class="text-capitalize">{{ guests_table_headers.guests }}</th>
                    <th scope="col" class="text-capitalize d-none d-sm-table-cell">{{ guests_table_headers.address }}</th>
                    <th scope="col" class="text-capitalize">{{ guests_table_headers.notified}}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>
</template>
<!-- end group template -->

<template id="guest-row-template">
    <tr>
        <td></td>
        <td></td>
        <td>
            <span class="text-capitalize">{{ guests_table_headers.adults }}</span>:&nbsp;<span></span>/<span></span><br>
            <span class="text-capitalize">{{ guests_table_headers.children }}</span>:&nbsp;<span></span>/<span></span>
        </td>
        <td class="d-none d-sm-table-cell"></td>
        <td></td>
    </tr>
</template>
