<div class="d-flex">
    <h1>{{ site_subtitle }} <small class="text-muted">{{ site_title }}</small></h1>
    <div class="text-muted align-self-center"><span class="badge bg-secondary"><span id="event_{{ event.id }}_total_accepted">{{ event.totalAccepted }}</span>/<span id="event_{{ event.id }}_total_invited">{{ event.totalInvited }}</span></span></div>
    <div class="ms-auto">
        <button type="button" class="btn btn-outline-secondary text-capitalize" data-bs-toggle="modal" data-bs-target="#addGroupModal" aria-label="{{ _("add group") }}"><i class="bi bi-plus-circle-dotted"></i><span class="d-none d-md-inline"> {{ _("add group") }}</span></button>
    </div>
</div>

<div id="guestgroups">
{% for group in groups %}
<section id="group_{{ group.id }}" class="guestgroup">
    <div class="d-flex">
        <h2>{{ group.name }} <span class="badge bg-secondary"><span class="total_accepted">{{ group.totalAccepted }}</span>/<span class="total_invited">{{ group.totalInvited }}</span></span></h2>
        <div class="ms-auto">
            <button type="button" class="btn btn-outline-secondary text-capitalize add-guest-to-group-btn" data-bs-toggle="modal" data-bs-target="#addGuestModal" value="{{ group.id }}"><i class="bi bi-person-plus"></i><span class="d-none d-md-inline"> {{ _("add guest") }}</span></button>
        </div>
    </div>
    {% with group.guests as guests %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="text-capitalize">{{ guests_table_headers.name }}</th>
                <th scope="col" class="text-capitalize">{{ guests_table_headers.status }}</th>
                <th scope="col" class="text-capitalize">{{ guests_table_headers.guests }}</th>
                <th scope="col" class="text-capitalize d-none d-sm-table-cell">{{ guests_table_headers.address }}</th>
                <th scope="col" class="text-capitalize">{{ guests_table_headers.notified}}</th>
            </tr>
        </thead>
        <tbody>
            {% for guest in guests %}
            <tr id="guest-{{ guest.id }}">
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-outline-primary edit-guest-btn" title="{{ _("Edit guest") }}" value="{{ guest.id }}"><span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span><i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">{{ _("Toggle dropdown") }}</span></button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item invite-guest-btn" href="/i/{{ guest.uid }}" target="_blank"><i class="bi bi-box-arrow-up-right"></i> {{ _("Show invitation page") }}</a></li>
                            <li><a class="dropdown-item text-danger delete-guest-btn" href="#" data-value="{{ guest.id }}"><i class="bi bi-person-dash"></i> {{ _("Remove guest") }}</a>
                        </ul>
                    </div>
                </td>

                {% with guest.contact.addressee as addressee %}
                <td>
                {% if guest.contact.addressee.familyName == guest.partnerFamilyName %}
                {% i18nc "A couple’s name like Alice and Bob Miller" "%1 and %2 %3" addressee.givenName guest.partnerGivenName addressee.familyName %}
                {% else %}
                {{ addressee.givenName }} {{ addressee.familyName }}{% if guest.partnerGivenName %}<br>{{ guest.partnerGivenName }} {{ guest.partnerFamilyName }}{% endif %}
                {% endif %}
                </td>

                <td><i class="bi {% if guest.status == guest.Canceled %}bi-x-circle text-warning{% elif guest.status == guest.Agreed %}bi-check-circle text-success{% else %}bi-dash-circle text-secondary{% endif %}"></i></td>

                <td>
                    <span title="{{ _("Adults") }}"><i class="bi bi-people-fill"></i></span>&nbsp;<span>{{ guest.adultsAccepted }}</span>/<span>{{ guest.adults }}</span><br>
                    <span title="{{ _("Children") }}"><i class="bi bi-diagram-3-fill"></i></span>&nbsp;<span>{{ guest.childrenAccepted }}</span>/<span>{{ guest.children }}</span>
                </td>

                <td class="d-none d-sm-table-cell">
                {% if addressee.addresses.size %}
                    {% with addressee.addresses.0 as address %}
                    {% if address.street %}{{ address.street }}<br>{% endif %}
                    {% if address.postalCode %}{{ address.postalCode }} {% endif %}{% if address.locality %}{{ address.locality }}{% endif %}{% if address.postalCode or address.locality %}<br>{% endif %}
                    {{ address.region }}{% if address.region and address.country %}, {% endif %}{{ address.country }}
                    {% endwith %}
                {% endif %}
                </td>

                <td>
                    <div class="btn-group btn-group-sm">
                        <a href="/controlcenter/events/{{ event.id }}/guests/invite/{{ guest.id }}/{{ guest.Email.value }}" class="btn{% if guest.notifiedByEmail %} btn-outline-success{% else %} btn-outline-secondary{% endif %}" title="{{ _("Email") }}"><i class="bi bi-envelope-fill"></i></a>
                        <a href="/controlcenter/events/{{ event.id }}/guests/invite/{{ guest.id }}/{{ guest.SMS.value }}" class="btn{% if guest.notifiedBySMS %} btn-outline-success{% else %} btn-outline-secondary{% endif %}" title="{{ _("SMS") }}"><i class="bi bi-chat-left-text-fill"></i></a>
                        <a href="/controlcenter/events/{{ event.id }}/guests/invite/{{ guest.id }}/{{ guest.Messenger.value }}" class="btn{% if guest.notifiedByMessenger %} btn-outline-success{% else %} btn-outline-secondary{% endif %}" title="{{ _("Messenger") }}"><i class="bi bi-messenger"></i></a>
                        <a href="/controlcenter/events/{{ event.id }}/guests/invite/{{ guest.id }}/{{ guest.Postal.value }}" class="btn{% if guest.notifiedByPostal %} btn-outline-success{% else %} btn-outline-secondary{% endif %}" title="{{ _("Postal") }}"><i class="bi bi-mailbox2"></i></a>
                        <a href="/controlcenter/events/{{ event.id }}/guests/invite/{{ guest.id }}/{{ guest.Phone.value }}" class="btn{% if guest.notifiedByPhone %} btn-outline-success{% else %} btn-outline-secondary{% endif %}" title="{{ _("Phone") }}"><i class="bi bi-telephone-fill"></i></a>
                    </div>
                </td>

                {% endwith %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endwith %}
{% empty %}
{% endfor %}
</div>

<!-- start add group modal -->
{% with "addGroup" as modalId %}
{% with event.id as eventId %}
{% include "controlcenter/events/guests/addGroupModal.tmpl" %}
{% endwith %}
{% endwith %}
<!-- end add group modal -->

<!-- start add guest modal -->
{% with "addGuest" as modalId %}
{% with event.id as eventId %}
{% include "controlcenter/events/guests/addGuestModal.tmpl" %}
{% endwith %}
{% endwith %}
<!-- end add guest modal -->

<!-- start edit guest modal -->
{% with "editGuest" as modalId %}
{% with event.id as eventId %}
{% include "controlcenter/events/guests/editGuestModal.tmpl" %}
{% endwith %}
{% endwith %}
<!-- end edit guest modal -->

<!-- start remove guest modal -->
{% with "removeGuest" as modalId %}
{% with event.id as eventId %}
{% include "controlcenter/events/guests/removeGuestModal.tmpl" %}
{% endwith %}
{% endwith %}
<!-- end remove guest modal -->

<!-- start group template -->
<template id="group-template">
    <section>
        <div class="d-flex">
            <h2></h2>
            <div class="ms-auto">
                <button type="button" class="btn btn-outline-secondary text-capitalize add-guest-to-group-btn" data-bs-toggle="modal" data-bs-target="#addGuestModal"><i class="bi bi-person-plus"></i><span class="d-none d-md-inline"> {{ _("add guest") }}</span></button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="text-capitalize">{{ guests_table_headers.name }}</th>
                    <th scope="col" class="text-capitalize">{{ guests_table_headers.status }}</th>
                    <th scope="col" class="text-capitalize">{{ guests_table_headers.guests }}</th>
                    <th scope="col" class="text-capitalize d-none d-sm-table-cell">{{ guests_table_headers.address }}</th>
                    <th scope="col" class="text-capitalize">{{ guests_table_headers.notified}}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>
</template>
<!-- end group template -->

<template id="guest-row-template">
    <tr>
        <td>
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-outline-primary edit-guest-btn" title="{{ _("Edit guest") }}" value=""><span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span><i class="bi bi-pencil-square"></i></button>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">{{ _("Toggle dropdown") }}</span></button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item invite-guest-btn" href="" target="_blank"><i class="bi bi-box-arrow-up-right"></i> {{ _("Show invitation page") }}</a></li>
                    <li><a class="dropdown-item text-danger delete-guest-btn" href="#" data-value=""><i class="bi bi-person-dash"></i> {{ _("Remove guest") }}</a>
                </ul>
            </div>
        </td>
        <td></td>
        <td><i></i></td>
        <td>
            <span title="{{ _("Adults") }}"><i class="bi bi-people-fill"></i></span>&nbsp;<span></span>/<span></span><br>
            <span title="{{ _("Children") }}"><i class="bi bi-diagram-3-fill"></i></span>&nbsp;<span></span>/<span></span>
        </td>
        <td class="d-none d-sm-table-cell"></td>
        <td></td>
    </tr>
</template>
