# SPDX-FileCopyrightText: (C) 2022 Matthias Fehring / www.huessenbergnetz.de
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Restarts the Gikwimi Server to reestablish MySQL connections

[Timer]
OnBootSec=7h
OnUnitActiveSec=7h
Persistent=false

[Install]
WantedBy=timers.target
